- if kinds.empty?
  = t('kind.empty')

- else
  .row.paginate
    .col-md-8
      = paginate kinds
    .col-md-4
      %p.pull-right= [kinds.total_count.to_s, t('model.kinds').downcase].join(" ")

  %table.table.table-striped
    %thead
      %tr
        %th= t('kind.image')
        %th= t('kind.name')
        %th= t('kind.description')
        %th= t('kind.visible')
        %th= t('kind.playlists')
        %th
    %tbody
      - kinds.each do |kind|
        %tr
          %td.img= image_tag kind.image_url(:thumb)
          %td= kind.name
          %td= kind.description
          %td= kind.visible
          %td= kind.playlists.count
          %td
            = link_to edit_kind_path(kind), :class => 'btn btn-default btn-sm', :title => t('kind.edit') do
              %span.fa.fa-edit
            = link_to kind_path(kind), :class => 'btn btn-default btn-sm', :title => t('kind.destroy'), method: :delete, data: { confirm: t('kind.confirm_destroy') } do
              %span.fa.fa-times


