- if types.empty?
  = t('type.empty')

- else
  .row.paginate
    .col-md-8
      = paginate types
    .col-md-4
      %p.pull-right= [types.total_count.to_s, t('model.types').downcase].join(" ")

  %table.table.table-striped
    %thead
      %tr
        %th= t('type.name')
        %th= t('type.playlists')
        %th
    %tbody
      - types.each do |type|
        %tr
          %td= type.name
          %td= type.playlists.count
          %td
            = link_to edit_type_path(type), :class => 'btn btn-default btn-sm', :title => t('type.edit') do
              %span.fa.fa-edit
            = link_to type_path(type), :class => 'btn btn-default btn-sm', :title => t('type.destroy'), method: :delete, data: { confirm: t('type.confirm_destroy') } do
              %span.fa.fa-times


