%ul.nav.nav-pills.nav-stacked
  = menu_link('songs', params[:controller])
  = menu_link('playlists', params[:controller])
  = menu_link('albums', params[:controller])
  = menu_link('kinds', params[:controller])
  = menu_link('types', params[:controller])
  = menu_link('artists', params[:controller])
  = menu_link('users', params[:controller])
  = menu_link('parameters', params[:controller])
