.navbar.navbar-default
  .navbar-header
    = link_to 'Jukebox', playlists_path, class: 'navbar-brand'

  .collapse.navbar-collapse.navbar-ex1-collapse
    %ul.nav.navbar-nav
      %li= link_to t('model.playlists'), playlists_path
      %li= link_to t('model.songs'), songs_path
      %li= link_to t('model.kinds'), kinds_path
      %li= link_to t('model.artists'), artists_path
      %li= link_to t('model.users'), users_path
    
    %ul.nav.navbar-nav.pull-right
      %li= link_to current_user.name, edit_user_path(current_user)
      %li.pull-right
        = link_to destroy_user_session_path, method: :delete, alt: t('devise.logout').html_safe do
          = image_tag "exclamation.png", alt: t('devise.logout').html_safe, title: t('devise.logout').html_safe, class: :destroy


