%legend
  %h1= t('model.records')

%ul#stats_tab.nav.nav-tabs
  %li.active
    = link_to t('model.playlists'), '#playlists', 'data-toggle' => "tab"
  %li
    = link_to t('model.songs'), '#songs', 'data-toggle' => "tab"

#stats.tab-content
  #playlists.tab-pane.active.in
    .row.well
      = dates_inputs
      = stats_inputs('Playlist', 'total', 'kind', 'time')
  #songs.tab-pane
    .row.well
      = dates_inputs
      = stats_inputs('Song', 'total')

%canvas#chart{:width => 450, :height => 400}
