= simple_form_for @song, :html => {:class => 'form-horizontal', :multipart => true} do |f|

  .well
    = f.input :name
    = f.input :artist_id, collection: artists, selected: (@song.artist.id unless @song.artist.nil?), prompt: t('helpers.words.choose'), as: :with_link
    = f.input :duration, as: :duration
    = f.association :playlists, collection: playlists, as: :with_link, input_html: { multiple: 'multiple' }
    = f.association :albums, collection: albums, as: :with_link, input_html: { multiple: 'multiple' }
    = f.input :image
    = f.input :file
    = f.input :user_id, as: :hidden, input_html: { value: current_user.id }

  .form_actions
    = f.button :submit, :class => 'btn btn-default'
    = link_to t('helpers.submit.cancel'), :back, :class => 'btn btn-default'

