= simple_form_for @album, :html => {:class => 'form-horizontal', :multipart => true} do |f|

  .well
    = f.input :name
    = f.input :year
    = f.input :artist_id, collection: artists, selected: (@album.artist.id unless @album.artist.nil?), prompt: t('helpers.words.choose'), as: :with_link
    = f.input :image

  .form_actions
    = f.button :submit, :class => 'btn btn-default'
    = link_to t('helpers.submit.cancel'), :back, :class => 'btn btn-default'

