- if playlists.empty?
  = t('playlist.empty')

- else

  %table.table.table-striped
    %thead
      %tr
        %th
        %th= t('playlist.name')
        %th= t('playlist.types')
        %th= t('playlist.songs')
        %th
    %tbody
      - playlists.each do |playlist|
        %tr
          %td.img= image_tag playlist.image_url(:thumb)
          %td= playlist.name
          %td= playlist.types
          %td= playlist.songs.size
          %td
            = link_to play_playlist_path(playlist), :class => 'btn btn-default btn-sm play', :title => t('helpers.words.play') do
              %span.fa.fa-play
            = link_to '#', :class => 'btn btn-default btn-sm pause', :title => t('helpers.words.pause') do
              %span.fa.fa-pause
            = link_to playlist, class: 'btn btn-default btn-sm', title: t('playlist.show') do
              %span.fa.fa-eye
            = link_to manage_playlist_path(playlist), :class => 'btn btn-default btn-sm', :title => t('playlist.manage') do
              %span.fa.fa-music
            = link_to edit_playlist_path(playlist), :class => 'btn btn-default btn-sm', :title => t('playlist.edit') do
              %span.fa.fa-edit
            = link_to playlist_path(playlist), :class => 'btn btn-default btn-sm', :title => t('playlist.destroy'), method: :delete, data: { confirm: t('playlist.confirm_destroy') } do
              %span.fa.fa-times


