%legend.row
  %h2.pull-left= @playlist.name
  .btn-group.pull-right
    = link_to manage_playlist_path(@playlist), :class => 'btn btn-default', :title => t('playlist.manage') do
      %span.fa.fa-music
    = link_to edit_playlist_path(@playlist), class: 'btn btn-default', title: t('playlist.edit') do
      %span.fa.fa-edit
    = link_to playlist_path(@playlist), class: 'btn btn-default', title: t('playlist.destroy'), method: :delete, data: { confirm: t('playlist.confirm_destroy') } do
      %span.fa.fa-trash-o


.row
  .col-md-3
    = link_to '#', class: 'thumbnail' do
      = image_tag @playlist.image_url

  .col-md-9
    .well
      %dl.dl-horizontal
        %dt= t('playlist.name')
        %dd= @playlist.name
        %dt= t('playlist.description')
        %dd= @playlist.description
        %dt= t('playlist.user')
        %dd= @playlist.user
        %dt= t('playlist.kinds')
        %dd= @playlist.kinds
        %dt= t('playlist.types')
        %dd= @playlist.types
        %dt= t('playlist.songs')
        %dd= @playlist.songs.count
        %dt= t('records.listened')
        %dd= @playlist.records.count

= link_to t('helpers.submit.back'), :back, :class => 'btn btn-default'
