= simple_form_for @parameter, :html => {:class => 'form-horizontal'} do |f|

  .well
    = f.input :name
    = f.input :value

  .form_actions
    = f.button :submit, :class => 'btn btn-default'
    = link_to t('helpers.submit.cancel'), :back, :class => 'btn btn-default'

